@import "./tokens/colors.css";
@import "./tokens/semantic.css";
@import "./tokens/link.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f100;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
    transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}